body{
    background-color: #f5f7fa;
    font-family: Arial,sans-serif;
}

header{
    text-align: center;
      background: #fff;
       box-shadow: 0 4px 16px rgba(0,0,0,0.11);
       padding: 10px;
}

header img{
    max-width: 70px;
    height: auto;
}

.container{
    max-width: 450px;
    margin: 40px auto;
    background: #fff;
    padding: 28px 28px 24px;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.11);
}

h2{
    text-align: center;
    margin-bottom: 22px;
    color: #2d4059;
}

.radio-group{
    display: flex;
    gap:18px;
    margin-bottom: 14px;
    
}

label{
    display: block;
    margin-bottom: 6px;
    color:#22313f;
    font-weight: 500;
    margin-top: 6px;
}

input[type="text,date"]{
    width: 100%;
    padding: 8px 10px;
margin-bottom: 18px;
border-radius:6px;
border:1px solid #ccc;
box-sizing: border-box;
font-size: 15px;
}

.btn-group{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 14px;
}

.submit-btn,.cancel-btn{
flex:1;
min-width: 90px;
background: #f55b13;
color: #fff;
border: none;
padding: 10px 0;
border-radius: 7px;
cursor: pointer;
font-weight:600;
font-size: 15px;
transition: background 0.2s;
}

.cancel-btn{
    background: #fff;
    color:#f55b13;
    border:1px solid #f55b13;
}

.submit-btn:hover{
    background: #d54a07;
}

.cancel-btn:hover{
    background: #eee;
}